.desktop-logo {
  font-size: 60px;
  color: var(--primary-letter-color);
}

.mobile-logo {
  font-size: 25px;
  color: var(--primary-letter-color);
}

.logo > svg {
  border: 1px solid var(--primary-letter-color);
  border-radius: 50%;
  padding: 5px;
}